body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}
